<h2>search-form</h2>

<div>
  <div>
    <label for="">q: </label>
    <input type="text" [(ngModel)]="q" name="q" />
    <span>{{ q }}</span>
  </div>
  <div>
    <label for="">body: </label>
    <input type="text" [(ngModel)]="body" name="body" />
    <span>{{ body }}</span>
  </div>
  <div>
    <label for="">title: </label>
    <input type="text" [(ngModel)]="title" name="title" />
    <span>{{ title }}</span>
  </div>
  <div>
    <label for="">url: </label>
    <input type="text" [(ngModel)]="url" name="url" />
    <span>{{ url }}</span>
  </div>
  <div>
    <label for="">tagged: </label>
    <input type="text" [(ngModel)]="tagged" name="tagged" />
    <span>{{ tagged }}</span>
  </div>
  <div>
    <label for="">nottagged: </label>
    <input type="text" [(ngModel)]="nottagged" name="nottagged" />
    <span>{{ nottagged }}</span>
  </div>
  <div>
    <label for="">answers: </label>
    <input type="text" [(ngModel)]="answers" name="answers" />
    <span>{{ answers }}</span>
  </div>
  <div>
    <label for="">views: </label>
    <input type="text" [(ngModel)]="views" name="views" />
    <span>{{ views }}</span>
  </div>
  <div>
    <label for="">user: </label>
    <input type="text" [(ngModel)]="user" name="user" />
    <span>{{ user }}</span>
  </div>
  <div>
    <label for="">page: </label>
    <input type="text" [(ngModel)]="page" name="page" />
    <span>{{ page }}</span>
  </div>
  <div>
    <label for="">pagesize: </label>
    <input type="text" [(ngModel)]="pagesize" name="pagesize" />
    <span>{{ pagesize }}</span>
  </div>
  <div>
    <label for="">accepted: </label>
    <input type="text" [(ngModel)]="accepted" name="accepted" />
    <span>{{ accepted }}</span>
  </div>
  <div>
    <label for="">closed: </label>
    <input type="text" [(ngModel)]="closed" name="closed" />
    <span>{{ closed }}</span>
  </div>
  <div>
    <label for="">migrated: </label>
    <input type="text" [(ngModel)]="migrated" name="migrated" />
    <span>{{ migrated }}</span>
  </div>
  <div>
    <label for="">wiki: </label>
    <input type="text" [(ngModel)]="wiki" name="wiki" />
    <span>{{ wiki }}</span>
  </div>
  <div>
    <label for="">notice: </label>
    <input type="text" [(ngModel)]="notice" name="notice" />
    <span>{{ notice }}</span>
  </div>
  <div>
    <label for="">order: </label>
    <input type="text" [(ngModel)]="order" name="order" />
    <span>{{ order }}</span>
  </div>
  <div>
    <label for="">sort: </label>
    <input type="text" [(ngModel)]="sort" name="sort" />
    <span>{{ sort }}</span>
  </div>
  <div>
    <label for="">min: </label>
    <input type="text" [(ngModel)]="min" name="min" />
    <span>{{ min }}</span>
  </div>
  <div>
    <label for="">max: </label>
    <input type="text" [(ngModel)]="max" name="max" />
    <span>{{ max }}</span>
  </div>
  <div>
    <label for="">fromdate: </label>
    <input type="text" [(ngModel)]="fromdate" name="fromdate" />
    <span>{{ fromdate }}</span>
  </div>
  <div>
    <label for="">todate: </label>
    <input type="text" [(ngModel)]="todate" name="todate" />
    <span>{{ todate }}</span>
  </div>
</div>
